.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px 300px auto 300px;
}
.userinput{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}
button{
    margin-top: 10px;
}
.computeroutput{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    font-family: 'McLaren', cursive;
}
p{
    font-family: 'Cabin', sans-serif;
}
button{
    font-family: 'Cabin', sans-serif;
}
p.answer{
    font-size: 35px;
}